body,html{
    height: 100%;
    margin: 0.5%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkolivegreen;
}
h2{
    font-size:medium;
    color: black;
    text-align: center;
    font-size: large;

}
p{
    font-size: 20px;
    color: white;
    text-align:left;
    font-style:italic;

}
li{
    color: darkred;
}
